* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, rgb(67, 74, 90)), color-stop(0.8, rgb(148, 139, 118)));
    /* background: #4d4764; */
}

.memory-game {
    width: 640px;
    height: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
}

.memory-card {
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
}

.memory-card:active {
    transform: scale(0.97);
    transition: transform .2s;
}

.memory-card.flip {
    transform: rotateY(180deg);
}

.front-face,
.back-face {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, rgb(238, 219, 209)), color-stop(0.8, rgb(60, 63, 51)));
    backface-visibility: hidden;
}

.front-face {
    transform: rotateY(180deg);
}

.start-btn {
    top: 0;
    height: 75px;
    width: 150px;
    margin-left: 40%;
    position: absolute;
}